
.site-wrapper{
  height: 100%;
  width: 100%;

  /*box-shadow: inset 0 0 100px 30px rgba(0,0,0,.5);*/
}



.fiturete-container{
  margin: 0 150px;
}





/*End of navbar */


/* Begin of the first big div*/

.cover-container{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 74px 150px;
}


.inner-cover{
  display: table-cell;
  vertical-align: top;

}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */

}



/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/*
 * Footer section
 */


@media (min-width: 768px) {
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
