
/*
 * Base structure
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}
  
html,
body {
  height: 100%;
  background-color: #CCC; /*#c44 #456*/
}
body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}



/*
.CN{
  -webkit-transform: scale();
}*/

/*
 *Navbar structure
 */

.masthead{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-top: 10px;
  padding-left: 30px
  padding-right: 30px;
  padding-bottom: 10px;
  vertical-align: top;
  background: linear-gradient(to bottom , #a22 90%, transparent); /*#A11*/
}

.masthead-brand {

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15%;
  color: white;
}

.masthead-nav{
  margin-right: 5%;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*End of navbar */


/* Begin of the first big div*/

.text-muted{
  color: #C22;
}

/* Featurettes
------------------------- */

#fim{
  margin: 15px 0;

}




/*
 * Footer section
 */


.patrocinadores{
 margin-bottom: 30px ;
}



@media (min-width: 768px) {
  .masthead {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead {
    position: fixed;
    top: 0;
  }
}
