@import "fontello.css";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Play:400,700);
/* Funções */
/* Cores */
/* @verm: rgb(246, 54, 79); vermelho inicial do Caio */
/* @verm: #aa2222; Vermelhodo Nathan, acho que deu ideia de vintage. */
/* Fontes */
/* @header-font: 'Play', sans-serif; Essa fonte não combinou com o conceito de moderno :( */
/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*MAIN*/
.hide {
  display: none;
}
body {
  font-size: 1em;
  line-height: 1.25em;
  font-family: 'Play', sans-serif;
  /* Background - Textura */
  background-image: url("assets/texture.png");
  color: #555;
}
#geral {
  position: relative;
  width: 100%;
  margin: auto 0;
  margin-bottom: 80px;
}
/* Icones */
.the-icons {
  color: #df3040;
}
/*Definições Para Header */
header {
  width: 100%;
  height: 100px;
  background: #df3040;
}
h1 {
  font-size: 2.1em;
  margin-top: 20px;
  color: #df3040;
}
h2 {
  font-size: 1.1em;
}
h2 span {
  color: #df3040;
}
h1,
h2 {
  font-weight: regular;
  margin-bottom: 30px;
}
h3 {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}
h3 span {
  color: #df3040;
}
nav {
  height: 100px;
  width: 90%;
  margin: auto;
}
nav #nav-main {
  list-style: none;
  width: 100%;
  margin: auto;
}
nav #nav-main li {
  float: left;
  text-align: center;
  width: 14.28571429%;
  padding-top: 40px;
  display: inline-block;
}
nav #nav-main li a {
  text-decoration: none;
  color: white;
  float: left;
}
nav #nav-main li .direita {
  float: right;
}
nav #nav-main #logo {
  padding-top: 10px;
}
nav #nav-main #logo img {
  width: 170px;
}
/* Slideshow (Carrossel)*/
#slideshow {
  display: none;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  /* Toda a Animação do Carrosel feita em CSS3 */
  /* Estilização dos Slides */
}
#slideshow .slide-frame {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top linear 1.4s;
  text-align: center;
}
#slideshow .slide-frame img {
  max-height: 100%;
  max-width: 100%;
}
#slideshow .slide-frame.slide-active {
  top: 0;
  z-index: 9999;
}
#slideshow .slide-frame.slide-set {
  top: -100%;
  transition-delay: 1.4s;
}
/* Conteúdo */
#conteudo {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  /* Boxes */
}
#conteudo .boxes {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}
#conteudo .boxes a {
  color: inherit;
  text-decoration: inherit;
}
#conteudo .boxes .box {
  width: 33.33333333%;
  float: left;
  display: block;
}
#conteudo .boxes .box .b_content {
  width: 90%;
  margin: auto;
}
#conteudo .boxes .box .b_content .box_pic {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 190px;
}
#conteudo .boxes .box .b_content .box_pic.the-icons {
  text-align: center;
  font-size: 190px;
}
#conteudo .boxes .box .b_content p {
  font-size: 0.9em;
  text-align: center;
  margin: 1em auto;
}
#conteudo .boxes .center {
  border-right: 1px solid #df3040;
  border-left: 1px solid #df3040;
}
#conteudo #keyspeakers div.primeiro {
  border-top: 0px solid #df3040;
  margin-top: 30px;
}
#conteudo #keyspeakers div {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #df3040;
}
#conteudo #keyspeakers div img {
  float: left;
  width: 17%;
}
#conteudo #keyspeakers div h3 {
  text-align: left;
  font-size: 1.2em;
  color: #df3040;
  margin-bottom: 20px;
}
#conteudo #keyspeakers div section {
  float: left;
  padding-top: 0px;
  padding-left: 20px;
  width: 83%;
  vertical-align: left;
  font-size: 0.9em;
}
#conteudo #palestrantes_nacionais h2 {
  margin-bottom: 50px;
}
#conteudo #palestrantes_nacionais .box {
  height: 400px;
  margin-bottom: 20px;
}
#conteudo #palestrantes_nacionais .b_content p {
  font-size: 0.8em;
  text-align: justify;
}
#conteudo #palestrantes_nacionais .b_content a {
  color: #df3040;
  font-weight: bold;
}
/* Destaques */
#destaques {
  width: 100%;
  overflow: hidden;
}
#destaques .dest_box {
  width: 33.33333333%;
  float: left;
  display: block;
}
#destaques .dest_box .d_content {
  width: 90%;
  margin-bottom: 1px solid #df3040;
}
#destaques .dest_box .d_content .dest_foto {
  width: 30%;
  float: left;
  margin-right: 10px;
}
#destaques .dest_box .d_content h3 {
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
}
#destaques .dest_box .d_content p {
  font-size: 0.7em;
}
#destaques #linha {
  background-color: #df3040;
  height: 1px;
  width: 93%;
  float: left;
  margin-top: 17px;
}
#destaques #veja_mais {
  float: right;
  margin-top: 5px;
}
#destaques #veja_mais a {
  text-decoration: none;
  color: #df3040;
}
/*Página Colabore */
.barras {
  margin-top: 50px;
  min-height: 260px;
  width: 100%;
  border-bottom: 1px solid #df3040;
  /* Caixa */
}
.barras img {
  height: 230px;
  float: left;
  margin-right: 40px;
}
.barras p {
  font-size: 1em;
}
.barras .the-icons {
  margin-right: 10px;
}
.barras ul {
  list-style: circle;
  margin-top: 20px;
  display: block;
}
.barras .span3 {
  text-align: left;
  float: left;
  font-size: 160px;
}
.barras .texto {
  overflow: hidden;
  width: 100%;
}
.barras .caixa {
  padding: 2em;
  display: block;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #df3040;
  text-align: center;
}
.barras .caixa ul {
  list-style: none;
}
.barras .caixa h2 {
  color: #df3040;
}
.contato {
  position: relative;
  height: 150px;
  border: 0px;
}
.contato .botaozinho {
  display: block;
  text-decoration: none;
  position: absolute;
  right: 80px;
  width: 180px;
}
.contato .botaozinho div {
  width: 100%;
  height: 50px;
  background-color: #df3040;
  line-height: 50px;
  color: white;
  text-align: center;
}
.contato .botaozinho p {
  width: 100%;
  font-size: 0.8em;
  color: #df3040;
  text-align: center;
}
.contato .botaozinho .botao1 {
  top: 15px;
}
.contato .botaozinho .botao2 {
  bottom: 10px;
}
.contato .botao3 {
  width: 240px;
  top: 0px;
  right: 50px;
}
.contato .botao3 div {
  width: 100%;
}
.contato p {
  width: 60%;
}
.regulamento {
  height: 830px;
}
.regulamento li {
  margin-bottom: 10px;
}
.regulamento h2 {
  margin-bottom: 10px;
}
.regulamento .item-3 {
  margin-bottom: 40px;
}
.regulamento li {
  margin-left: 25px;
}
/* Footer */
footer {
  width: 100%;
  border-top: 5px solid #df3040;
  position: relative;
}
footer #foot_cont {
  width: 90%;
  margin: auto;
}
footer h3 {
  float: left;
  display: block;
  color: #df3040;
  line-height: 170px;
  width: 10%;
  margin: 0;
}
footer #patrocinadores {
  width: 65%;
  float: left;
  margin-left: 20px;
}
footer #patrocinadores ul {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
footer #patrocinadores ul li {
  height: 50px;
  float: left;
  line-height: 70px;
  font-size: 0.9em;
  color: #df3040;
  margin-right: 20px;
}
footer #patrocinadores ul li a img {
  height: 28px;
}
footer #patrocinadores .prata a img {
  height: 26px;
}
footer #patrocinadores .bronze {
  margin-bottom: 20px;
}
footer #patrocinadores .bronze a img {
  height: 24px;
}
footer #patrocinadores:first-of-type {
  margin-top: 20px;
}
footer #localizacao {
  width: 20%;
  float: left;
  margin-top: 55px;
}
footer #localizacao span {
  line-height: 70px;
  font-size: 0.9em;
  color: #df3040;
}
footer #localizacao .ico {
  height: 30px;
  line-height: 70px;
  margin-top: 20px;
}
footer #localizacao .face {
  padding-right: 20px;
  border-right: 1px solid #df3040;
}
footer #localizacao .chegar {
  padding-left: 15px;
  padding-right: 10px;
}
footer #localizacao .lado {
  float: right;
}
/*Sprites Patrocinadores*/
/*

.patroc{
    background: url('assets/img/patrocinadores/patroc_sprites.png') no-repeat;
}

.texto {
    width:130px;
}

.ime {
    background-position: 0;
    width: 58px;
}

.ccsl {
    background-position: -58px;
    width: 64px;
}

.google {
    background-position: -122px;
    width:118px;

}

.caelum {
    background-position: -240px;
    width: 139px; 
}

.kekanto {
    background-position: -379px;
    width:150px;
}

*/
/* MAPS */
#map_canvas {
  width: 100%;
  margin: 0;
  height: 350px;
}
/* Articles */
article {
  margin-bottom: 40px;
}
article h2 {
  margin-bottom: 10px;
}
.art-tabs {
  margin-bottom: 700px;
}
/* Sanfona */
.lista-tabs {
  margin-bottom: 50px;
  float: left;
}
.lista-tabs li {
  margin-bottom: 15px;
  /*B&W*/
}
.lista-tabs li .tab-botao {
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: #df3040;
  line-height: 40px;
  color: white;
}
.lista-tabs li .tab-botao {
  -webkit-filter: grayscale(0%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.lista-tabs li .tab-botao:hover {
  -webkit-filter: grayscale(50%);
}
.lista-tabs div.tab-temp {
  display: none;
}
.cont-tabs {
  width: 900px;
  height: 400px;
  float: right;
  border-left: 1px solid #df3040;
  padding-left: 20px;
}
.cont-tabs p {
  font-size: 0.8em;
  margin-bottom: 15px;
}
.cont-tabs a {
  text-decoration: none;
  color: #df3040;
}
.cont-tabs li {
  margin-bottom: 10px;
  font-size: 0.8em;
}
/* Programação */
#prog-nav {
  overflow: hidden;
  width: 100%;
  display: block;
}
#prog-nav li {
  float: left;
  margin-right: 10px;
  width: 200px;
  line-height: 40px;
  background-color: #df3040;
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-filter: grayscale(0%);
  transition: all 0.5s ease;
}
#prog-nav li a {
  text-decoration: none;
  color: inherit;
}
#prog-nav li:hover {
  -webkit-filter: grayscale(50%);
}
#prog-pal {
  margin-top: 30px;
}
#prog-pal li {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 1px solid #df3040;
}
#prog-pal li h3 {
  display: block;
  width: 20%;
  float: left;
  font-weight: normal;
  color: #df3040;
  font-size: 3em;
  line-height: 2em;
  vertical-align: top;
}
#prog-pal li div {
  width: 80%;
  float: left;
}
#prog-pal li div h2 {
  margin-bottom: 20px;
}
#prog-pal li div p {
  margin-bottom: 20px;
}
#prog-pal li div p em {
  color: #df3040;
  font-weight: ;
}
.history {
  overflow: hidden;
  padding: 5% 2%;
  border-top: 1px solid #df3040;
}
.history:first-of-type {
  border: none;
  margin-top: -5%;
}
.history img {
  width: 33.33333333%;
  float: right;
  margin-left: 2%;
}
.history .meeting {
  overflow: hidden;
  height: 70px;
  width: 44%;
  margin-right: 3%;
  margin-left: 3%;
  float: left;
  margin-top: 3%;
  background-color: #df3040;
}
.history .meeting h3 {
  line-height: 70px;
  margin-left: 30px;
  text-decoration: none;
  float: left;
  color: white;
  font-size: 1.3em;
}
.history .meeting img {
  width: 20%;
}
#linkPat {
  color: #FFF;
  background: #df3040;
  text-decoration: none;
  padding: 5px 10px;
}
#linkPat:hover {
  -webkit-filter: grayscale(50%);
}
.jaba {
  border: 1px solid #df3040;
  margin-left: 20%;
  margin-bottom: 10px;
  width: 80%;
  padding: 20px;
}
